@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");

html {
    /* overflow: hidden; */
    /* height: 100%; */
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #2d3436;
}

section {
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

h3 {
    color: #999;
    font-size: 1.25rem;
}

a {
    text-decoration: inherit;
    color: #87ceeb;
}

a:hover {
    color: #549bb8;
}

footer {
    color: #999;
    font-size: .75rem;
    text-align: center;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -40px;
}

p {
    margin: 0 10%;
}

em {
    color: #f33;
}

#header {
  width: 220px;
  height: 62px;
  position:absolute;
  left:0;
  top:0;
  border-bottom: 2px solid rgb(235, 50, 90);
  font-weight: 700;
  text-align: left;
  padding-left: 20px;
  color: #FFF;
}

#currentApp {
  width: calc(100% - 220px);
  width: -webkit-calc(100% - 220px);
  height: 62px;
  position: absolute;
  right: 0;
  top:0 ;
  color: #333;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
  border-bottom: 2px solid rgb(235, 50, 90);
}

#name {
  color: #eee;
  white-space: nowrap;
  overflow: hidden;
}

#org {
  font-weight: 400;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
}

#logOut {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10pt;
  border-radius: 1px;
  padding: 10px 15px 10px 15px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid rgb(235, 50, 90);
  background-color: rgb(235, 50, 90);
  color: white;
  font-weight: bold;
}

#logOut:hover {
  cursor:pointer;
  background-color: rgb(215, 30, 70)
}

#logo {
  width: 95%;
}

.info {
  font-weight: 300;
  font-size: 11pt;
}

.title {
  border-bottom: 0px;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 14pt;
  height: 60px;
  background: #000;
  padding-top: 12px!important;
  padding-bottom: 15px!important;
  line-height: 110%;
}

.content {
  margin-top: 60px;
  height: calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  font-size: 13pt;
  color: white;
}

input.lr {
    display: block;
    margin: 10px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    color: white;
    font-size: 16pt;
    padding: 10px;
}

input.lr::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    color: white;
}

input[type="submit"].lr {
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #d53d6c;
    cursor: pointer;
}

input[disabled].lr {
    opacity: 0.5;
}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

#forgot {
    text-align: center;
    width: 100%;
    font-size: 12pt;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}

.question {
  padding: 20px;
  border: 1px solid #e60c88;
  font-family: 'Open Sans';
}

.question h3 {
  margin-bottom: 7px;
  font-size: 13pt;
}

.question p {
  margin: 0;
  font-size: 10pt;
  line-height: 140%;
}

#feedback {
  font-size: 11pt;
  line-height: 160%;
}

#feedback h2 {
  color: #e60c88;
  font-size: 15pt;
}

#feedback input[type="text"] {
  color: white;
  background: black;
  border: 0;
  border-bottom: 1px solid #e60c88;
  font-size: 14pt;
  width: 50px;
}

#comments {
  font-size: 12pt;
  color: white;
  width: 100%;
  resize: none;
  height: 100px;
  background: black;
  border: 0;
  border-bottom: 1px solid #e60c88;
}
